{% extends 'base.html' %}

{% block title %}Home - Meu Projeto{% endblock %}

{% block content %}
  <body>
      {% if request.user.is_authenticated %}
      <a href="{% url 'blog_home' %}"> Bem-vindo, {{ request.user.username }}!</a>
      <a href="{% url 'edu:livro_list' %}"> Livros </a>
      <a href="{% url 'edu:logout' %}"> Sair </a>
      {% else %}  
      <a href="{% url 'edu:signup' %}"> Cadastre-se </a>
      <a href="{% url 'edu:signin' %}"> Entrar </a>
      {% endif %}
{% endblock %}